* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #2C1810;
    /* font-family: "EB Garamond", serif; */
    font-family: 'Libre Caslon Text', serif;
    font-family: 'Montserrat', sans-serif;
}

html,body {
    width: 100%;
    height:100vh;
    overflow-x: hidden;
}

#app {
    height: inherit;
    display: flex;
    flex-direction: column;

}